body
{
    margin: 0;
}

#style
{
    height: 100vh;
    background: url(img/001-suv.png) no-repeat, url(img/003-car.png) no-repeat, url(img/002-police.png) no-repeat, url(img/007-sport-car.png) no-repeat, url(img/006-car-2.png) no-repeat, url(img/004-sedan.png) no-repeat, url(img/road.png) repeat;

    background-size: auto 16%, auto 13%, auto 12%, auto 13%, auto 12%, auto 13%, auto 33%; /*szerokosc wysokosc obrazkow w kolejnosci od pierwszego*/

    background-position: top 5% left 4%, top 15% left 5%, top 43% left -110%, top 54% left 5%, top 82% left 5%, top 92% left 5%, top 0% left 0%; /*gdzie znajduja sie na poczatku nasze obrazki*/
    transition: background-position 4s ease-in; /*przejscie od pozycji poczatkowej do pozycji koncowej*/
}

#style:hover
{
    background-position: top 5% left 75%, top 15% left 60%, top 43% left 110%, top 54% left 90%, top 82% left 55%, top 92% left 95%, top 0% left -2300%; /*pozycja koncowa po najechaniu kursorem*/
}